<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Broadcast Z acceleration data via UDP to the winch iPad app.</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Read .modraw files from the Documents folder.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
</dict>
</plist>
